################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FacetMapperPlayground/bin/Debug/net9.0
/FacetMapperPlayground/obj
